#title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.0em;
}

#clusters {
    width: 90%;
    margin: auto;
}

.clusterBox {
    border: black 1px solid;
    margin-bottom: 5px;
    border-radius: 10px;
}

.clusterFlex {
    display: flex;
    padding-left: 10px;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}

.cluster_name {
    flex-basis: 72%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 5px;
}

.cluster_name:hover {
    color: rgb(51, 51, 216);
    text-decoration: underline;
}

.cluster_atlanticCount {
    color: rgb(0, 0, 156);
    flex-basis: 8%;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: solid black 1px;
    border-left: solid black 1px;
    padding-left: 2%;
}

.cluster_indianCount {
    color: rgb(38, 121, 0);
    flex-basis: 12.5%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 3%;
}

.indianDot {
    color: rgb(38, 121, 0);
}

.atlanticDot {
    color: rgb(0, 0, 156);
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table,
th,
td {
    border: black 1px solid;
    text-align: center;
}


/* ================= Slider ================ */

#controls-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.slider {
    width: 450px;
}

.play-button,
.goto-end-button,
.goto-start-button {
    display: inline-flex;
    cursor: pointer;
    padding: 0;
}

.play-button {
    margin-left: 15px;
}

.goto-start-button {
    margin-left: 15px;
}

.goto-end-button {
    margin-left: 5px;
}

#year {
    /* display: inline-block; */
    font-size: 1.9em;
    /* border: 1px solid black; */
    background-color: white;
    padding: 3px;
    text-align: center;
}

/* ========= MODAL ========= */

#modal-div {
    text-align: center;
}

#modal-link {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(51, 51, 216);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 15;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    max-height: 600px;
    width: 900px;
    overflow-y: scroll;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}